/***************fonts*********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/***************colors*********************/

/* To change
pinks: #a96357 #f1c5b7 #ffdcd1
greens: #566f64 #6d897a
*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
}

/***************header*******************/
header{
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 10% 10px 10%;
}

.header{
	background: rgba(1, 1, 1, 0.15);
}

.headerOnScroll{
	transition: all 0.30s ease;
	background: rgba(1, 1, 1, 0.35);
}

.logo{
	padding-left: 50px;
	padding-top: 12px;
}

#logopic{
	width: 17vw;
}

.navlist, .sign{
	display: flex;
}

.navlist a{
	color: white;
	margin-left: 60px;
	font-size: 13px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
	transition: all .55s ease;
}

.navlist a:hover{
	border-bottom: 3px solid #566f64;
}

.sign{
	padding-right: 50px;
}

.sign a{
	padding: 5px 20px;
	margin: 0 10px;
	background-color: #6d897a;
	color: white;
	border-radius: 15px;
	font-size: 13px;
	font-weight: 600;
	transition: all .55s ease;
}

.sign a:hover{
	background-color: white;
	color: #ffdcd1;
}

/***************menu*******************/

#menu-icon{
	color: white;
	font-size: 30px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

.menu{
	height: 100%;
	padding-top: 55px;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(245.59deg, #ffdcd1 0%, #f1c5b7 28.53%, #a96357 75.52%);
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}

section{
	padding: 0 20%;
}

.menu-text{
	color: white;
}


.menu-text h5{
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 30px;
}

.menu-text h1{
	font-size: 95px;
	line-height: 1;
	margin: 0 0 45px;
}

.menu-text h4{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.menu-text p{
	font-size: 15px;
	line-height: 1.9;
	margin-bottom: 40px;
}

.menu-text a{
	display: inline-block;
	color: white;
	background-color: #566f64;
	border: 1px solid transparent;
	padding: 12px 30px;
	margin: 0px 10px;
	line-height: 1.4;
	font-size: 14px;
	font-weight: 500;
	border-radius: 30px;
	text-transform: uppercase;
	transition: all .55s ease;
}

.menu-text a:hover{
	background: transparent;
	border: 1px solid white;
	transform: translateX(8px);
}

.menu-img img{
	width: 400px;
	height: auto;
}

/***************icons*******************/

.icons{
	position: absolute;
	top: 50%;
	padding: 0 9%;
	transform: translateY(50%);
}

.icons i{
	display: block;
	margin: 26px 0;
	font-size: 24px;
	padding: 5px;
	border-radius: 25px;
	color: white;
	transition: all.50s ease;
}

.icons i:hover{
	background-color: white;
	color: #6d897a;
	transform: translateY(-5px);
}


.scroll-down{
	position: absolute;
	bottom: 6%;
	right: 9%;
}

/***************scroll down*******************/

.scroll-down i{
	display: block;
	padding: 7px;
	font-size: 25px;
	color: white;
	background-color: #6d897a; 
	border-radius: 30px;
	transition: all .50s ease;
}

.scroll-down i:hover{
	transform: translateY(-5px);
	color: #6d897a;
	background-color: white;
}

/***************adoption info*******************/

.infosection{
	height: auto;
	padding: 30px 0;
}

.infosection h2{
	text-align: center;
}

.info-card{
	margin: 0 25px;
	min-width: 230px;
	padding: 25px 10px;
	border: 1px solid transparent;
	border-radius: 20px;
	transition: all .50s ease;
}

.info-card:hover{
	border: 1px #566f64 solid;
	transform: translateY(5px);
}


.infosection #infos{
	text-align: center;
	line-height: 2;
	display: flex;
	justify-content: center;
	position: relative;
	padding: 25px 10%;
}

#infos p{
	padding: 15px;
	font-size: 13px;
}

#infos a{
	color: white;
	background-color: #a96357;
	border: 1px solid transparent;
	padding: 12px 30px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 30px;
	text-transform: uppercase;
	transition: all .55s ease;
}

#infos a:hover{
	background: transparent;
	color: #a96357;
	border: 1px solid #a96357;
	transform: translateX(8px);
}

#infos .infoimg{
	padding-top: 20px;
	width: 100px;
}

/***************slider*******************/

.slider-container{
	background: #6d897a;
	height: auto;
	padding: 35px 0;
}

.slider-container h2{
	text-align: center;
	color: white;
}

.slider{
  	display: flex;
  	padding: 30px 35px;
  	align-items: center;
  	justify-content: center;
}

.wrapper {
  	display: flex;
  	max-width: 1000px;
  	position: relative;
}

.wrapper i {
	z-index: 1000;
  	top: 50%;
  	height: 44px;
  	width: 44px;
  	cursor: pointer;
  	font-size: 1.15rem;
  	position: absolute;
  	text-align: center;
  	line-height: 44px;
  	background: #a96357;
  	color: white;
  	border-radius: 50%;
  	transform: translateY(-50%);
  	transition: transform 0.1s linear;
}

.wrapper i:active {
  	transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  	background: #f2f2f2;
  	color: black;
}

.wrapper i:first-child {
  	left: -22px;
  	display: none;
}

.wrapper i:last-child {
  	right: -22px;
}

.wrapper .carousel {
	padding: 20px 0;
	cursor: pointer;
  	overflow: hidden;
  	white-space: nowrap;
  	scroll-behavior: smooth;
}

.carousel.dragging {
  	cursor: grab;
  	scroll-behavior: auto;
}

.carousel .card {
	border-radius: 20px;
	padding: 30px;
  	height: 420px;
  	background-color: white;
  	margin-left: 40px;
  	width: 300px;
  	display: inline-block;
  	vertical-align: top;
  	transition: all 0.55s ease;
}

.carousel .card:hover{
	transform: translateY(-5px);
}

.carousel .card:first-child {
  margin-left: 0px;
}

.carousel .card img{
	width: 95%;
	margin: auto;
}

.carousel .card h3{
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	padding: 12px 0;
}

.carousel .card p{
	font-size: 12px;
}

.card-btn{
	color: white;
	background-color: #a96357;
	border: 1px solid transparent;
	padding: 5px 15px;
	margin: 15px auto;
	font-size: 13px;
	font-weight: 400;
	border-radius: 30px;
	transition: all .55s ease;
}

.card-btn:hover{
	color: #566f64;
	background-color: transparent;
	border: 1px solid #566f64;
	transform: translateX(5px);
}
/***************footer*******************/

footer{
	color: white;
}

.footer{
	height: 2 5vh;
	background-color: #c38679;
}

.copyright{
	background-color: #163d30;
}

.copyright p{
	color: white;
	font-size: 11px;
	padding: 10px;
	text-align: center;
}

.footer{
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 33px 9%;
}

.footer li a{
	font-size: 12px;
	color: white;
	transition: all .50s ease;
}

.footer li a:hover{
	color: #6d897a 
}

.column{
	min-width: 150px;
}


/***************flexibility*******************/

@media(max-width: 1535px){
	header{
		padding: 15px 3%;
	}
	.icons{
		padding: 0 3%;
		transition: .2s;
	}
	.scroll-down{
		right: 3%;
		transition: .2s;
	}
}
@media (max-width: 1460px){
	section{
		padding: 0 12%;
		transition: .2s;
	}
}
@media(max-width: 1340px){
	.menu-img img{
		width:100%;
		height:auto;
	}
	.menu-text h2{
		font-size: 75px;
		margin: 0 0 0 30px;
	}
}
@media(max-width: 1195px){
	section{
		padding: 0 3%;
		transition: .2s;
	}
	.menu-text{
		padding-top: 115px;
	}
	.menu-img{
		text-align: center;
	}
	.menu-img img{
		width: 560px;
		height: auto;
	}
	.menu {
		height: 100%;
		gap: 1rem;
		grid-template-columns: 1fr;
	}
}
@media(max-width: 990px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		height: 40vh;
		background: #6d897a;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 50px 15px;
		transition: all .55s ease;
	}
	.navlist a{
		display: block;
		margin: 10px 0;
		margin-left:  0;
	}
	.navlist.open{
		right: 0;
	}
}
@media(max-width: 680px){
	.menu-img img{
		width: 100%;
	}
}

/***********************Carousel****************/
@media screen and (max-width: 900px) {
  .carousel .card {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel .card {
    width: 100%;
  }
}