/***************fonts*********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/***************colors*********************/

/*:root {
    --yellow1: #e0b668;
    --yellow2: #f0d770;
    --pink1: #a96357;
    --pink2: #f1c5b7;
    --pink3: #ffdcd1;
    --green1: #566f64;
    --green2: #6d897a;
    --green3: #a6d0ac;
}*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

/***************custom button*********************/

.button1{
	color: white;
	background-color: #a96357;
	border: 1px solid transparent;
	padding: 12px 30px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 30px;
	text-transform: uppercase;
	transition: all .55s ease;
}

.button2{
	color: white;
	background-color: #566f64;
	border: 1px solid transparent;
	padding: 12px 30px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 30px;
	text-transform: uppercase;
	transition: all .55s ease;
}


.button1:hover{
	background: transparent;
	color: #a96357;
	border: 1px solid #a96357;
	transform: translateX(8px);
}

.button2:hover{
	background: transparent;
	color: #566f64;
	border: 1px solid #566f64;
	transform: translateX(8px);
}


/***************header*******************/

header{
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 10% 5px 10%;
}

.header{
	transition: all 1s ease;
	background: rgba(1, 1, 1, 0.10);
}

.headerOnScroll{
	transition: all 0.90s ease;
	background: linear-gradient(245.59deg, #ffdcd1 0%, #f1c5b7 28.53%, #a96357 75.52%);
}

.logo{
	padding-left: 50px;
	padding-top: 12px;
}

#logopic{
	width: 17vw;
}

.navlist, .sign{
	display: flex;
}

.navlist a{
	color: white;
	margin-left: 60px;
	font-size: 13px;
	font-weight: 600;
	border-bottom: 3px solid transparent;
	transition: all .55s ease;
}

.navlist a:hover{
	border-bottom: 3px solid #f0d770;
}

.sign{
	padding-right: 50px;
}

.user_auth{
	padding: 5px 20px;
	margin: 0 10px;
	background-color: #6d897a;
	color: white;
	border: transparent;
	border-radius: 15px;
	font-size: 13px;
	font-weight: 600;
	transition: all .55s ease;
}

.user_auth:hover{
	background-color: white;
	color: #566f64;
}

/*****************sign in sign up modal***********/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 15px;
}

.popup-content {
	background-color: #a96357;
	margin: 4% auto;
	padding: 20px;
	width: 30vw;
	height: 80vh;
}

.popup-content form{
	padding: 40px;
	color: white;
	text-align: center;
}

.popup-content form img{
	width: 50px;
}

.popup-content form label{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
}

.popup-content form input{
	border-radius: 0;
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: white solid 1px;
}

.popup-content form input:focus{
	border: none;
	outline: none;
	border-bottom: white solid 1px;
}

.popup-content form .reminder{
	font-size: 9px;
	font-style: italic;
}

.popup-content form .alternate{
	color: white;
	padding-top: 25px;
	font-size: 13px;
}

.popup-content a{
	color: white;
	text-decoration: underline;
}

.popup-content .forgot{
	color: black;
	text-align: right !important;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

.submit{
	background-color: #566f64;
	border:none;
	color:white;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin: 20px 0;
	padding: 8px;
	width: 100%;
	transition: all.50s ease;
}

.submit:hover{
	background-color: white;
	color: #566f64;
}

.inputs{
	text-align: left;
	padding-top: 45px;
}

.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	transition: all .50s ease;
}

.close:hover {
	color: black;
}

/***************menu*******************/

#menu-icon{
	color: white;
	font-size: 30px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

.menu{
	height: 100%;
	padding-top: 55px;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(245.59deg, #ffdcd1 0%, #f1c5b7 28.53%, #a96357 75.52%);
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}

section{
	padding: 0 25%;
}

.menu-text{
	color: white;
}


.menu-text h5{
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 30px;
}

.menu-text h1{
	font-size: 95px;
	line-height: 1;
	margin: 0 0 45px;
}

.menu-text h4{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.menu-text p{
	text-align: justify;
	font-size: 15px;
	line-height: 1.9;
	margin-bottom: 40px;
}

.menu-btn{
	line-height: 1.4;
	margin: 0 10px;
}

.menu-btn:hover{
	color: white;
	background: transparent;
	border: 1px solid white;
	transform: translateX(8px);
}

.menu-img img{
	width: 400px;
	height: auto;
}

/***************icons*******************/

.icons{
	position: absolute;
	top: 50%;
	padding: 0 9%;
	transform: translateY(50%);
}

.icons i{
	display: block;
	margin: 26px 0;
	font-size: 24px;
	padding: 5px;
	border-radius: 25px;
	color: white;
	transition: all.50s ease;
}

.icons i:hover{
	background-color: white;
	color: #6d897a;
	transform: translateY(-5px);
}


.scroll-down{
	position: absolute;
	bottom: 6%;
	right: 9%;
}

/***************scroll down*******************/

.scroll-down i{
	display: block;
	padding: 7px;
	font-size: 25px;
	color: white;
	background-color: #6d897a; 
	border-radius: 30px;
	transition: all .50s ease;
}

.scroll-down i:hover{
	transform: translateY(-5px);
	color: #6d897a;
	background-color: white;
}

/***************adoption info*******************/

.infosection{
	padding: 70px 0 40px 0;
	height: auto;
}

.infosection h2{
	text-align: center;
}

.info-card{
	width: 30%;
	margin: 0 auto;
	padding: 25px 10px;
	transition: all .50s ease;
}

.info-card:hover{
	transform: translateY(5px);
}

.infosection #infos{
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 25px 10%;
}

#infos p{
	padding: 15px;
	font-size: 13px;
}

#infos .infoimg{
	padding: 20px 0 10px 0;
	width: 100px;
}

/***************slider*******************/

.slider-container{
	text-align: center;
	background: #f1c5b7;
	padding: 55px;
	width: 100%;
	height: auto;
}

.slide-btn{
	margin-top: 20px;
}

.slide-btn:hover{
	color: white;
	border: 1px solid white;
}

.slider-container h2{
	color: white;
}

.slider{
  	display: flex;
  	padding: 25px 25px 0 25px;
  	justify-content: center;
}

.wrapper {
  	display: flex;
  	max-width: 1020px;
  	position: relative;
}

.wrapper i {
	z-index: 1000;
  	top: 50%;
  	height: 44px;
  	width: 44px;
  	cursor: pointer;
  	font-size: 1.15rem;
  	position: absolute;
  	text-align: center;
  	line-height: 44px;
  	background: white;
  	color: black;
  	align-items: center;
  	border-radius: 50%;
  	transform: translateY(-50%);
  	transition: transform 0.1s linear;
}

.wrapper i:active {
  	transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  	background: #f2f2f2;
  	color: black;
}

.wrapper i:first-child {
  	left: -22px;
  	display: none;
}

.wrapper i:last-child {
  	right: -22px;
}

.wrapper .carousel {
	padding: 20px 0;
	cursor: pointer;
  	overflow: hidden;
  	white-space: nowrap;
  	scroll-behavior: smooth;
}

.carousel.dragging {
  	cursor: grab;
  	scroll-behavior: auto;
}

.carousel .card {
	border-radius: 25px;
	position: relative;
  	height: 310px;
  	margin-left: 35px;
  	width: 310px;
  	display: inline-block;
  	vertical-align: top;
  	transition: all 0.55s ease;
}

.carousel .card::before {
	border-radius: 25px;
	content: "";
	position: absolute;
	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.carousel .card:hover{
	transform: translateY(-5px);
}

.carousel .card:first-child {
  margin-left: 0px;
}

.carousel .card img{
	border-radius: 25px;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.carousel .card h3 {
	position: absolute;
	bottom: 15px; 
	left: 15px; 
	color: white; 
	font-size: 13px;
}
/***************footer*******************/

footer{
	color: white;
	background-color: #566f64;
}

.footer{
	height: 2 5vh;
}

.copyright{
	font-size: 11px;
	padding: 10px 7% 30px 7%;
}

.footer{
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 33px 7%;
}

.footer li a{
	font-size: 13px;
	color: white;
	transition: all .50s ease;
}

.footer li a:hover{
	color: #6d897a 
}

.column{
	min-width: 150px;
}

/***************gallery*******************/

.galleryBanner {
	margin-top:70px;
    display: flex;
    align-items: center;
    height: 320px;
    background: url(../pics/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.galleryBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.galleryBanner .searchBar{
	z-index: 999;
	margin: 0 auto;
}

.galleryBanner input[type="search"] {
	width: 45vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
}

.galleryBanner button {
    padding: 10px;
    border: none;
    background-color: #a96357;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    color: #fff;
}

.galleryBanner button:hover{
    color: #a96357;
    background-color: #fff;
}

.galleryBody{
	background: #f1c5b7;
}

.strayContainer {
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.strayBox {
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  height: 310px;
  width: 310px;
  margin: 20px;
  overflow: hidden; 
}

.strayBox img {
  height: 310px;
  width: 310px;
  object-fit: cover;
}

.strayBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.strayBox::after {
  content: attr(data-name);
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 12px;
}

.strayModal {
    z-index: 10001;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 15px;
}

.descContainer{
	background-color: white;
	margin: 4% auto;
	padding: 40px;
	width: 50vw;
	height: 80vh;
}

.descContainer img{
	height: 250px;
	width: 250px;
	object-fit: cover;
}

.adoptButton{
	margin: 20px 0px;
	padding: 10px;
	color: white;
	background-color: #a96357;
	font-weight: bold;
	border: 1px solid transparent;
	transition: all 0.5s ease;
}

.adoptButton:hover{
	color: #a96357;
	border: 1px solid #a96357;
	background-color: white;
}

.categoryButtons {
	z-index: 999;
    position: absolute;
    top: calc(58% - 40px);
    width: 35vw;
    display: flex;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.categoryButtons button{
	font-weight: bold;
	color: #a96357;
	background-color: white;
	top: 45px;
	width: 80px;
	height: 80px;
	border-radius: 10px;
	border: 2px solid #a96357;
}

.categoryButtons button:hover{
	background-color: #a96357;
	border: white 2px solid;
	color: white;
}

.categoryButtons button.active{
	background-color: #a96357;
	border: white 2px solid;
	color: white;
}

/***************about us*******************/

.abt-banner{
	height: 100%;
	padding-top: 55px;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(245.59deg, #ffdcd1 0%, #f1c5b7 28.53%, #a96357 75.52%);
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
	color: white;
}

.abt-banner-content h1{
	font-size: 60px;
}

.abt-banner-content p{
	text-align: justify;
	padding: 20px 0;
}

.abt-content {
	padding: 120px 10% 70px 10%;
	height: 90vh;
    display: flex;
    justify-content: space-between;
}

.misvis {
    display: flex;
    flex-direction: row;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-right: 40px; 
    width: 300px;
}

.misvis-btn {
    font-size: 25px;
    font-weight: 600;
    background-color: transparent;
    border: 4px solid transparent;
    cursor: pointer;
    text-align: left;
    height: 60px; 
    box-sizing: border-box; 
    transition: all 0.55s ease;
}

.misvis-btn:hover{
    font-size: 35px;
    font-weight: 600;
    border-bottom: 4px solid black;
}

.misvis-btn.active {
	font-size: 32px;
    font-weight: 600;
    border-bottom: 4px solid black;
}

.content-container {
	text-align: justify;
	position: relative;
    flex-grow: 1;
    width: 750px;
}

.content-container h2{
	color: #566f64;
    font-size: 30px;
    font-weight: 600;	
}

.content-container p{
	line-height: 1.5;
	color: #566f64;
	font-size: 14px;
	padding: 20px 0;
}


/***************flexibility*******************/

@media(max-width: 1535px){
	header{
		padding: 15px 3%;
	}
	.icons{
		padding: 0 3%;
		transition: .2s;
	}
	.scroll-down{
		right: 3%;
		transition: .2s;
	}
}
@media (max-width: 1460px){
	section{
		padding: 0 12%;
		transition: .2s;
	}
}
@media(max-width: 1340px){
	.menu-img img{
		width:100%;
		height:auto;
	}
	.menu-text h2{
		font-size: 75px;
		margin: 0 0 0 30px;
	}
}
@media(max-width: 1195px){
	section{
		padding: 0 3%;
		transition: .2s;
	}
	.menu-text{
		padding-top: 115px;
	}
	.menu-img{
		text-align: center;
	}
	.menu-img img{
		width: 560px;
		height: auto;
	}
	.menu {
		height: 100%;
		gap: 1rem;
		grid-template-columns: 1fr;
	}
}
@media(max-width: 990px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		height: 40vh;
		background: #6d897a;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 50px 15px;
		transition: all .55s ease;
	}
	.navlist a{
		display: block;
		margin: 10px 0;
		margin-left:  0;
	}
	.navlist.open{
		right: 0;
	}
}

@media(max-width: 680px){
	.menu-img img{
		width: 100%;
	}
}

/***********************carousel****************/
@media screen and (max-width: 900px) {
  .carousel .card {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel .card {
    width: 100%;
  }
}